altgraph==0.14
beautifulsoup4==4.6.0
bitstring==3.1.5
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
cognitive-face==1.3.1
colorama==0.3.9
cycler==0.10.0
docopt==0.6.2
EasyProcess==0.2.3
Flask==0.12.2
gevent==1.2.2
greenlet==0.4.12
grequests==0.3.0
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
lifxlan==1.1.5
logger==1.4
macholib==1.8
MarkupSafe==1.0
matplotlib==2.0.2
modulegraph==0.15
mss==3.0.1
numpy==1.12.1
olefile==0.44
opencv-python==3.2.0.8
Pillow==4.2.1
pipreqs==0.4.9
psycopg2==2.7.3
py2app==0.14
PyAutoGUI==0.9.36
pycrypto==2.6.1
pygame==1.9.3
pyglet==1.2.4
PyMsgBox==1.0.6
pynput==1.3.7
pyobjc==3.2.1
pyobjc-core==3.2.1
pyobjc-framework-Accounts==3.2.1
pyobjc-framework-AddressBook==3.2.1
pyobjc-framework-AppleScriptKit==3.2.1
pyobjc-framework-AppleScriptObjC==3.2.1
pyobjc-framework-ApplicationServices==3.2.1
pyobjc-framework-Automator==3.2.1
pyobjc-framework-AVFoundation==3.2.1
pyobjc-framework-AVKit==3.2.1
pyobjc-framework-CalendarStore==3.2.1
pyobjc-framework-CFNetwork==3.2.1
pyobjc-framework-CloudKit==3.2.1
pyobjc-framework-Cocoa==3.2.1
pyobjc-framework-Collaboration==3.2.1
pyobjc-framework-Contacts==3.2.1
pyobjc-framework-ContactsUI==3.2.1
pyobjc-framework-CoreBluetooth==3.2.1
pyobjc-framework-CoreData==3.2.1
pyobjc-framework-CoreLocation==3.2.1
pyobjc-framework-CoreText==3.2.1
pyobjc-framework-CoreWLAN==3.2.1
pyobjc-framework-CryptoTokenKit==3.2.1
pyobjc-framework-DictionaryServices==3.2.1
pyobjc-framework-DiskArbitration==3.2.1
pyobjc-framework-EventKit==3.2.1
pyobjc-framework-ExceptionHandling==3.2.1
pyobjc-framework-FinderSync==3.2.1
pyobjc-framework-FSEvents==3.2.1
pyobjc-framework-GameCenter==3.2.1
pyobjc-framework-GameController==3.2.1
pyobjc-framework-ImageCaptureCore==3.2.1
pyobjc-framework-IMServicePlugIn==3.2.1
pyobjc-framework-InputMethodKit==3.2.1
pyobjc-framework-InstallerPlugins==3.2.1
pyobjc-framework-InstantMessage==3.2.1
pyobjc-framework-Intents==3.2.1
pyobjc-framework-IOSurface==3.2.1
pyobjc-framework-LatentSemanticMapping==3.2.1
pyobjc-framework-LaunchServices==3.2.1
pyobjc-framework-LocalAuthentication==3.2.1
pyobjc-framework-MapKit==3.2.1
pyobjc-framework-MediaAccessibility==3.2.1
pyobjc-framework-MediaLibrary==3.2.1
pyobjc-framework-MediaPlayer==3.2.1
pyobjc-framework-ModelIO==3.2.1
pyobjc-framework-MultipeerConnectivity==3.2.1
pyobjc-framework-NetFS==3.2.1
pyobjc-framework-NetworkExtension==3.2.1
pyobjc-framework-NotificationCenter==3.2.1
pyobjc-framework-OpenDirectory==3.2.1
pyobjc-framework-Photos==3.2.1
pyobjc-framework-PhotosUI==3.2.1
pyobjc-framework-PreferencePanes==3.2.1
pyobjc-framework-PubSub==3.2.1
pyobjc-framework-QTKit==3.2.1
pyobjc-framework-Quartz==3.2.1
pyobjc-framework-SafariServices==3.2.1
pyobjc-framework-SceneKit==3.2.1
pyobjc-framework-ScreenSaver==3.2.1
pyobjc-framework-ScriptingBridge==3.2.1
pyobjc-framework-SearchKit==3.2.1
pyobjc-framework-ServiceManagement==3.2.1
pyobjc-framework-Social==3.2.1
pyobjc-framework-SpriteKit==3.2.1
pyobjc-framework-StoreKit==3.2.1
pyobjc-framework-SyncServices==3.2.1
pyobjc-framework-SystemConfiguration==3.2.1
pyobjc-framework-WebKit==3.2.1
PyOpenGL==3.1.0
pyparsing==2.2.0
pyscreenshot==0.4.2
PyScreeze==0.1.13
pytesseract==0.1.7
python-dateutil==2.6.1
PyTweening==1.0.3
pytz==2017.2
qrcode==5.3
requests==2.18.3
rethinkdb==2.3.0.post6
rumps==0.2.1a0
six==1.10.0
snakeviz==0.4.2
SQLAlchemy==1.1.13
tornado==4.5.1
tzlocal==1.4
urllib3==1.22
virtualenv==15.1.0
waitress==1.1.0
Werkzeug==0.12.2
yarg==0.1.9
